# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bỏ qua rác của Quartus Prime
syn_direct/db/
syn_direct/incremental_db/
syn_transposed/db/
syn_transposed/incremental_db/
*.qws
*.rpt
*.summary
*.sof
*.pof

# Bỏ qua rác của ModelSim
sim/work/
*.wlf
*.mti

# (Tuỳ chọn) Bỏ qua file kết quả, chỉ giữ lại file input gốc
output_*.txt